.vs/ConsoleApp1.slnx/FileContentIndex/a8d94ed3-80be-4f7c-b6e5-afb922b00d12.vsidx
.vs/ConsoleApp1.slnx/FileContentIndex/b8ce8535-2c22-4e55-9ae3-7b308f032890.vsidx
.vs/ConsoleApp1.slnx/FileContentIndex/7c966250-fba9-459d-a8b1-c6b4fdfb3c0c.vsidx
